.dauwdruppel
    margin-top: 180px
    position: relative
    background: url(../../images/sonja-foto3.png)
    background-repeat: no-repeat
    background-position: bottom center
    background-size: cover
    height: 85vh
    width: 100%
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%)
    //background-attachment: fixed
    z-index: 2
.section3
    background-color: $greenBG
    position: relative
    
    color: $bodyBG
    padding: 100px 0 300px 0 
    .tarief
        opacity: 0
        transform: translateY(-400px)
        transition: all 1.5s ease-out                
        p 
            padding-left: 5%
    .fade-in-down
        opacity: 1
        transform: translateY(0)