.section1
    padding-top: 55px
    opacity: 0
    transform: translateY(200px) scale(0.9)
    
    transition: all 1.5s ease-out 
    p,a
        padding-left: 5%
    a 
        color: $links

.fade-up-big
    opacity: 1
    transform: translateY(0) scale(1)

.gras
    position: relative
    background: url(../../images/sonja-foto2.png)
    background-repeat: no-repeat
    background-position: top
    background-size: cover
    height: 63vh
    width: 100%
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%)
   
